@model IEnumerable<LeaveManagementSystem.Models.ViewModel.DepartmentViewModel>


@{
    ViewBag.Title = "ListCompleteDetails";
}

<h2>Department Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        @*        <th>
        @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th></th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
              <td>
        @Html.DisplayFor(modelItem => item.Name)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        @*
        <td>
        @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.FileName)
        </td>*@
            <td>
            <td class="text-center">
                <a asp-action="Edit" class="btn btn-primary" asp-route-Id="@item.Id">Edit</a>
            </td>
            <td class="text-center">
                <a asp-action="Details" class="btn btn-info" asp-route-Id="@item.Id">Details</a>
            </td>
            <td class="text-center">
                <a asp-action="Delete" class="btn btn-danger" asp-route-Id="@item.Id">Delete</a>
            </td>

        </tr>
    }

</table>